.navbar {
  margin-top: 1rem;
  margin-left:1rem;
  margin-right:1rem;
  position: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem 1rem;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


.navbar-logo {
  color: #e67f32;
  font-size: 1.5rem;
  font-weight: lighter;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: #000000;
  position: middle;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.navbar-links a:hover {
  color: #ff9800;
}

.navbar-actions {
  display: flex;
  gap: 1.5rem;

}

.navbar-icon {
  color: #000000;
  font-size: 1.3rem;
  background-color: #ffffff00;
  border: none;
  transition: color 0.2s;
}

.navbar-icon:hover {
  color: #ff9800;
}
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-divider {
  display: inline-block;
  width: 1px;
  height: 24px;
  background: #000000;
}